.App {
  text-align: center;
}
.flex {
  display: flex;
  margin: 0 auto;
  border: 1px solid gray;
  width: 800px;
}

.flex-1 {
  flex: 1;
}

.context {
  width: 60px;
  height: 60px;
  background-color: lightgray;
}
.context1 {
  width: 60px;
  height: 60px;
  border: 20px solid lightcoral;
  padding: 20px;
  margin: 20px;
  background-color: lightgray;
  box-sizing: border-box;
}

.context2 {
  width: 60px;
  height: 60px;
  border: 20px solid lightcoral;
  padding: 20px;
  margin: 20px;
  background-color: lightgray;
}